<div class="informer">
    <img class="map" src="img/map.png" alt="карта сокровищ"/>
    <p>Ошибка 404. Нет такой страницы</p>
    <p>Попробуйте вернуться на <a href="/">Главную</a> и попытать удачу снова</p>
</div>
