<p>
    ФотоКвест – это идеальный способ отдохнуть, весело провести время с друзьями, семьей,
    любимым человеком,
    лучше узнать город и сделать море смешных фото!
    Прогулка превращается в увлекательное путешествие, в котором вы ощущаете драйв от процесса
    и радость от успешного
    выполнения каждой задачи. При этом прогуливаетесь вы по самым красивым местам города!
</p>
<p>
    Все это дает вам уникальную возможность провести время весело и полезно.
    Наши квест-приключения очень познавательны: в процессе игры вы узнаете интересные истории,
    легенды и факты, связанные с фотографиями квеста.
</p>

<h4 class="text-center"> Узнайте, какие приключения вас ждут! </h4>
