<h2>{{quest.title}}</h2>
<section class="description-and-photos">
    <div class="description">
        {{quest.description}}
    </div>
    {{#if_eq user undefined}}
        <h2>Для прохождения квеста вам необходимо авторизоваться</h2>
    {{/if_eq}}
    {{>photo-block}}
</section>
