
.buttons {
    display: flex;
    justify-content: space-around;
}

.description {
    margin-bottom: 2%;
    min-height: 10ch;
}

.description {
    padding: 1%;
    border: @border;
    border-radius: 5px;
}

.buttons {
    margin-top: 30px;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
