<h2>{{title}}</h2>
<section class="description-and-photos">
    <div class="description">
        {{description}}
    </div>
    <div class="draggable">
        {{>photo-block}}
    </div>
    <div class="scroll">
    </div>
</section>
<section class="buttons">
    {{#if requirementAuthorization}}
        {{requirementAuthorization}}
    {{else}}
        {{>general-button text=buttonText style='primary'}}
    {{/if}}
</section>
