<h1>Вход</h1>
<form action="/signin" method="post">
    <div class="error"></div>
    <label>Email
        <input type="email" placeholder="your@email.com" name="email" required/>
    </label>
    <label>Пароль
        <input type="password" name="password" required/>
    </label>
    {{>general-button type="submit" text="Войти" style="default" class="pull-right" blockClass="submit"}}
    <div class="socials">
        {{>general-button img="img/vk.png" href="/vk" alt="Войти через Вконтакте" class="socials"}}
    </div>
</form>
