& {
    display: flex;
    position: relative;
    right: 0;
}

img {
    margin: 10px;
    border: @border;
    border-width: 2px;
    height: 200px;
    border-radius: 10%;
}

@media @mobile {
    img {
        height: 100px;
        width: auto;
    }
}
