{{>general-button text='Создать квест' href='/quests/new' style='primary'}}
<div class="tabs">
    {{> general-tab
        name="tabs"
        id="tab-active"
        value="active"
        checked="checked"
        text="Активные квесты"
    }}
    {{> general-tab
        name="tabs"
        id="tab-finished"
        value="finished"
        text="Завершенные квесты"
    }}
    {{> general-tab
        name="tabs"
        id="tab-created"
        value="created"
        text="Cозданные квесты"
    }}
</div>
<div class="quests">
{{>general-loader}}
</div>
