<section class="user-information">
    <div class="left-block">
        {{> profile-page-photo-block}}
        {{> profile-page-filter-block}}
    </div>
    <div class="right-block">
        {{> profile-page-information}}
        {{> profile-page-rating}}
    </div>
</section>
{{> profile-page-users-quests}}
