<div class="profile-page-main-info-block">
    {{> profile-page-photo-block}}
    {{> profile-page-information}}
    {{> profile-page-rating}}
</div>

<div class="profile-page-quests-block">
    {{> profile-page-users-quests}}
</div>

<div class="profile-page-filter-block">
    {{> profile-page-filter-block}}
</div>
