<div class="user-information">
    <div class="left-block">
        {{> profile-page-photo-block profile=profile}}
    </div>
    <div class="right-block">
        {{> profile-page-information profile=profile}}
        {{> profile-page-rating profile=profile}}
    </div>
</div>
<div class="tabs">
    {{> general-tab
        name="tabs"
        id="tab-active"
        value="active"
        checked="checked"
        text="Опубликованные"
        onchange="tabChanged(this)"
    }}
    {{> general-tab
        name="tabs"
        id="tab-finished"
        value="finished"
        text="Пройденные"
        onchange="tabChanged(this)"
    }}
</div>
<div class="quests">
    {{>general-loader}}
    Функционал пока не готов
</div>

