<div class="user-information">
    <div class="left-block">
        {{> profile-page-photo-block profile=profile}}
    </div>
    <div class="right-block">
        {{> profile-page-information profile=profile}}
    </div>
</div>
<div class="tabs">
    {{> general-tab
        name="tabs"
        id="tab-created"
        value="created"
        checked="checked"
        text="Автор"
    }}
    {{> general-tab
        name="tabs"
        id="tab-in-process"
        value="in-process"
        text="Участник"
    }}
</div>
<div class="content">
    <div class="content-tab-created">
        {{> quest-list quests=createdQuests}}
    </div>
    <div class="content-tab-in-process">
        {{> quest-list quests=inProcessQuests}}
    </div>
</div>

