<form method="post">
    {{>quest}}
    {{>photos-list blockClass='photo-list'}}
    <input type="checkbox" name="publish" class="publish" />
    {{>general-button text='Сохранить' style='border' type='submit'}}
    {{>general-button text='Опубликовать' style='primary' type='submit' blockClass='publish-btn'}}
</form>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
