<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
    <script src="/static/js/polyfills.js"></script>
    <script src="/static/js/globals.js"></script>
    <title>Title</title>
</head>
<body>

{{>general-header}}
{{{body}}}
<div class="flash-wrapper"></div>
<!--all local scripts here-->
{{#each sections.scripts as |script|}}
    {{{script}}}
{{/each}}
<!-------------------------->
</body>
</html>
