<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
    <script src="/static/js/polyfills.js"></script>
    <script src="/static/js/globals.js"></script>
    <title>Title</title>
</head>
<body>
{{#if_eq user undefined }}
    {{>general-shade}}
    {{>general-login-form}}
    {{>general-register-form}}
{{/if_eq}}
{{>general-header}}
{{{body}}}
<!--all local scripts here-->
{{#each sections.scripts as |script|}}
{{{script}}}
{{/each}}

<!-------------------------->
</body>
</html>
