<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
    <script src="/static/js/polyfills.js"></script>
    <script src="/static/js/globals.js"></script>
    <title>Title</title>
</head>
<body>
{{>general-header}}
{{{body}}}
<!--all local scripts here-->
{{{sections.scripts}}}
<!-------------------------->
</body>
</html>
