<div class="profile-page-users-quest-card">
    <div class="profile-page-users-quest-card-info">
        <h2 class="profile-page-users-quest-card-info-title">Заголовок (Рейтинг: 3)</h2>
        <p class="profile-page-users-quest-card-info-text">Описание</p>
    </div>
    <img src="http://www.wallpapersxl.com/wallpapers/1024x768/graffiti-l/738548/graffiti-l-la-donut-grffiti-pig-738548.jpg" alt="photo" class="profile-page-users-quest-card-photo">
</div>

<div class="profile-page-users-quest-card">
    <div class="profile-page-users-quest-card-info">
        <h2 class="profile-page-users-quest-card-info-title">Заголовок (Рейтинг: 4)</h2>
        <p class="profile-page-users-quest-card-info-text">Описание</p>
    </div>
    <img src="http://img2.board.com.ua/a/2000618676/wm/1-strit-art-graffiti-uslugi.JPG" alt="photo" class="profile-page-users-quest-card-photo">
</div>

<div class="profile-page-users-quest-card">
    <div class="profile-page-users-quest-card-info">
        <h2 class="profile-page-users-quest-card-info-title">Заголовок (Рейтинг: 5)</h2>
        <p class="profile-page-users-quest-card-info-text">Описание</p>
    </div>
    <img src="https://img.gazeta.ru/files3/271/7927271/pam06.jpg" alt="photo" class="profile-page-users-quest-card-photo">
</div>
