<div class="head-info">
    <h1>{{profile.name}}</h1>
    {{#if_eq profile.id user.id}}
        {{> general-button style='link' href='/signout' text='Выход'}}
    {{/if_eq}}
</div>
{{#each profile.information}}
    {{>line user=../user profile=../profile}}
{{/each}}

{{>line hidden=true profile=profile blockClass="hidden sample"}}
{{#if_eq user.id profile.id}}{{>general-button text='Добавить' class='add btn' type='submit'}}{{/if_eq}}

<p>
    Рейтинг: {{#if profile.rating}}{{profile.rating}}{{else}}0{{/if}}
</p>
