.quests-block {
    border-top: @border;
    padding-top: 20px;
}

.quest-query {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.search-group {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

}

.quest-query .btn {
    margin: 18px;
}

.quest-query div {
    margin-right: 10px;
}

