<section>
    <h2>О сервисе ФотоКвест</h2>
    <article>

        {{>main-page-description}}
    </article>
</section>
{{quests}}
<section>
    {{>main-page-quest-list quests}}
    asd123
</section>

