<section>
    <h1>О сервисе ФотоКвест</h1>
    <article>
        {{>main-page-description}}
    </article>
</section>
<div class="quests-block">
    <section class="quest-query">
        {{#if user}}
            {{>general-button text='Создать квест' style='primary'}}
        {{/if}}
        <div class="search-group">
            <div class="filter">
                {{>general-combo-box options=filter label="Поиск"
                    onchange="filtersChanged()"}}
            </div>
            <div>
                {{>general-search-bar label='Входящая строка' blockClass='hidden'
                    onkeyup='filtersChanged()'}}
                {{>general-numeric-input label='Не менее'
                    onkeyup='filtersChanged()' onchange='filtersChanged()'}}
                {{>general-check-box label='В обратном порядке'
                    onchange='filtersChanged()'}}
            </div>
        </div>

    </section>
    <section class="quests">

    </section>
</div>
