.quests-block {
    border-top: @border;
    padding-top: 20px;
}

.quest-query {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.search-group {
    margin-top: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quest-query .btn {
    margin: 18px;
}

.quest-query div {
    margin-right: 10px;
}

.quests {
    margin-top: 40px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media @mobile {
    .quest-query {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .search-group {
        margin-top: auto;
        align-items: center;
    }
}
