<section>
    <h2>О сервисе ФотоКвест</h2>
    <article>
        {{>main-page-description}}
    </article>
</section>
<div class="quests-block">
    <section class="quest-query">
        {{>general-button text='Создать квест' style='primary'}}
        {{>general-combo-box options=filter label="Сортировать"
            onchange="filterQuests()"}}
        {{>general-search-bar label="Поиск"
            onkeyup="filterQuests()"}}
        {{>general-check-box label="В обратном порядке"
            onchange="filterQuests()"}}
    </section>
    <section class="quests">

    </section>
</div>
