@baseFontStyle: Arial, Helvetica, sans-serif;
@aa: 5px;

html {
    background: #f6f5f3;
    min-height: 98%;
    height: 1%;
}

body {
    width: 960px;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100%;
}

.hidden {
    display: none;
}
