<div class="tabs">
    <input type="radio" name="tabs" id="tab-first" checked />
    <label for="tab-first">
        <p>Активные квесты</p>
    </label>
    <input type="radio" name="tabs" id="tab-second"/>
    <label for="tab-second">
        <p>Завершенные квесты</p>
    </label>
    <input type="radio" name="tabs" id="tab-third"/>
    <label for="tab-third">
        <p>Cозданные квесты</p>
    </label>
    <div id="tab-content-1" class="tab-content">
        <p>aaaaa</p>
    </div>
    <div id="tab-content-2" class="tab-content">
        <p>bbbbbbb</p>
    </div>
    <div id="tab-content-3" class="tab-content">
        <p>ccccccc</p>
    </div>
</div>
