.btn-primary {
    background: @yellowColor;
    border: @border;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
}

.btn:active {
    background: @yellowColor;
    color: #000;
}

.btn-link {
    color: black;
}
