.btn {
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    background: @yellowColor;
    border: @border;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
}

.btn-border {
    border: @border;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
}

.btn:active {
    background: @yellowColor;
    color: #000;
}

.btn-link {
    color: black;
}

input {
    height: 30px;
    background: @yellowColor;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
