.block-default,
.block-own {
    margin-top: 1em;
    border: @border;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a,
span {
    -webkit-margin-before: 0.5em;
    margin: 0.5em;
    width: 32%;
    text-align: center;
}

.block-own {
    background: @yellowColor;
}
