<div class="header">
    <span class="logo">
        ФотоКвест
    </span>
    {{>general-search-bar}}
    <div class="nav">
        <div>Мои квесты</div>
        <div>Рейтинги</div>
        <div>Профиль</div>
    </div>
</div>
