<span class="logo">
        <a href="/">ФотоКвест</a>
    </span>
{{>general-search-bar}}
<div class="nav">
    <div><a href="/myquests">Мои квесты</a></div>
    <div><a href="/ratin">Рейтинги</a></div>
    <div><a href="/profile">Профиль</a></div>
</div>

